@model IEnumerable<Gig>
@{
    ViewData["Title"] = "Home Page";
}

<h1>Upcoming Gigs</h1>
<div class="container-fluid">
    <ul class="giggs">
    @foreach(var gig in Model)
    {
      <li>
          <div class="list-group">
              <div class="row">
               <div class="venue col-xs-4 col-md-2 ">  
                   @gig.Venue  
                   <div class="row">
                    <div class="date col-xs-12">
                      @gig.DateTime.ToString("d MMM") 
                    </div>
                    </div>   
                     
               </div>
              
          
               <div class="detail col-xs-4 col-sm-1 ">
                    <span class="artist">@gig.Artist.Name </span>
                    <span class="genre">@gig.Genre.Name</span>
                    <div class="row">
                        <div class="editGig col-xs-8">
                               <a asp-action="Edit" asp-controller="Gigs" asp-route-id = "@gig.Id">Edit</a>
                        </div>
                    </div>
               </div>
               
              </div>
          </div>
      </li>   
    }
    </ul>

</div>